doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Press+Start+2P")
        link(rel="stylesheet", href="https://unpkg.com/nes.css@latest/css/nes.min.css")
        link(rel="stylesheet", href="style.css")
        script(src="https://cdn.jsdelivr.net/npm/umbrellajs") 
        title Dots and boxes
    body 
        h3.title Dots and boxes
        main 
            div.wrapper
                svg(width='100%' height='100%' viewbox='0 0 600 600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
                    

    script(src="script.js", type="module") 
