body {
    background-color: black;
    height: 100%;
    width: 100vw;
}

* {
    color: white;
}

.text-center {
    text-align: center;
}

.mt-10 {
    margin-top: 10px;
}

.title {
    margin-top: 20px;
}

line {
    stroke-width: 3;
}

line.dotted {
    stroke: transparent;
    display: block;
}

.nes-container.with-title>.title {
    margin-top: -2.3rem;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

#random-room-trigger {
    width: auto;
}
.top-buttons-container {
    margin: 40px 0;
}
main div:has(+svg)>button {
    width: 150px;
    font-size: 11px;
    height: 40px;
}

.px {
    padding: 4px 8px 8px 8px;
}

button#copy-close {
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
}

polygon.triangle {
    fill: transparent;
}

line.dotted:has(+ polygon.triangle.untouched:hover) {
    stroke: white;
    stroke-dasharray: 7px;
}

circle {
    fill: white;
    r: 5px;
}

.wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

div#play-first, div#play-second {
    position: absolute;
    display: none;
    top: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
div#play-first.show, div#play-second.show {
    display: flex;
}
p#play-first, p#play-second  {
    transform: translate(200%);
}
div#play-first.show > p#play-first, div#play-second.show > p#play-second {
    animation: move 3s linear;
    animation-iteration-count: 1;
}

@keyframes move {
    from {
        transform: translate(184%);
    }
    to {
        transform: translate(-184%);
    }
}

/* .waiting-for-player-button-loader {
    animation: show 5s linear infinite;
    text-wrap: nowrap;
    margin-bottom: 0 !important;
} */

@keyframes show {
    0% {
        margin-left: -100%;
    }


    50% {
        margin-left: 0;
    }


    100% {
        margin-left: 100%;
    }
}