body {
    background-color: black;
    height: 100vh;
    width: 100vw;
}

* {
    color: white;
}
.text-center {
    text-align: center;
}
.mt-10 {
    margin-top: 10px;
}

.title {
    margin-top: 20px;
}

line {
    stroke-width: 3;
}

line.dotted {
    stroke: white;
    display: none;
}

.nes-container.with-title > .title {
    margin-top: -2.3rem;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

main div:has(+svg){
    padding: 0 20px;
}
main div:has(+svg) > button {
    width: 150px;
    font-size: 11px;
    height: 40px;
}

.px {
    padding: 4px 8px 8px 8px;
}

button#join-room, button#copy-close {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

polygon.triangle {
    fill: transparent;
}

polygon.triangle.untouched:hover+line.dotted {
    display: block;
    stroke-dasharray: 7px;
}

circle {
    fill: white;
    r: 5px;
}

.wrapper {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}